body {
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }

  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
}

/* main css start */
.header {
  margin: 50px 140px;
  position: relative;
  border-radius: 16px;
  opacity: 0.5;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.header img {
  height: 100%;
  width: 100%;
  opacity: 60%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-content h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}
.hero-content h1 {
  margin-top: 5px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}

/* holiday-deals */
.holiday-deals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 50px 140px;
}
.holiday-deals img {
  width: 600px;
  height: 500px;
}
.holiday-contant {
  text-align: center;
}
.holiday-contant h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0px;
}
.holiday-contant p {
  margin-top: 35px;
  margin-bottom: 0px;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.holiday-contant h3 {
  margin-top: 5px;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

/* ------------midnight-party-------- */
.midnight-section {
  position: relative;
  margin: 50px 140px;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.midnight-section img {
  height: 100%;
  width: 100%;
}
.midnight-party {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.midnight-contant {
  width: 550px;
}

.midnight-party img {
  width: 240px;
  height: 350px;
}
.midnight-contant h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 0px;
}
.midnight-contant p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
}

.btn {
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
.midnight-img {
  margin-left: 30px;
}

/* booking-contact */
.booking {
  margin: 50px 140px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
}
.booking-contact {
  padding-top: 50px;
}
.booking-contact p {
  color: #070211;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}
.booking-contact p {
  margin-bottom: 0px;
}
.booking-contact h3 {
  color: #070211;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}
.booking-contact h2 {
  color: #070211;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}
.booking-contact h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.booking-contact h2 {
  margin-top: 0px;
}
.booking-contact span {
  color: #f00;
}
.booking-contact button {
  margin-top: 10px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 10px;
}

/* -------------- offer-section */
.offer-section {
  margin: 100px 140px;
  display: flex;
  justify-items: center;
  justify-content: center;
  background: #fff;
  padding: 20px 8px;
}
.frast-contact {
}
.frast-contact h5 {
  margin-bottom: 0px;
  color: #f00;
  text-align: start;
  font-size: 20px;
  font-weight: 500;
}
.frast-contact h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}
.frast-contact p {
  margin-top: 16px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  padding-right: 10px;
}
.offer-img {
  padding: 10px;
  justify-content: start;
}
.offer-img img {
  border: 10px solid red;
  border-radius: 50%;
  padding: 10px;
  width: 250px;
  height: 250px;
}
.secend-contact h2 {
  padding-left: 20px;
  margin-bottom: 0px;
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}
.secend-contact p {
  padding-left: 20px;
  margin-top: 10px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}
.secend-contact img {
  padding-left: 20px;
  width: 100px;
  height: 120px;
}

/*-------- discount-section ----------*/
.discount-section {
  margin: 100px 140px;
}
.discount-contect {
  text-align: center;
}
.discount-contect h5 {
  color: #070211;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}
.discount-contect h2 {
  font-size: 72px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 900;
}
.discount-contect h2 span {
  color: #f00;
}
.discount-contect p {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 15px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
}
.discount-img {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.discount-img-1 {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.discount-img-1 {
  margin-top: 0px;
  margin-top: 10px;
  width: 80%;
  height: 100%;
}
.discount-img-1 img {
  padding: 0px 10px;
  margin-bottom: -220px;
  width: 90%;
  height: 80%;
}

.discount-img-1 {
  width: 80%;
  height: 100%;
}
.discount-img-2 {
  position: relative;
  justify-content: end;
  display: flex;
  justify-items: end;
  margin-bottom: -88px;
  /* width: 80%;
  height: 100%; */
}
.discount-img-2 img {
  height: 80%;
}
.frast-img {
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.secend-img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.discount-img-2 .secend-img {
  width: 50%;
  height: 30%;
  margin-top: 115px;
}
.secend-img {
  width: 50%;
  height: 50%;
  margin-left: -25px;
}
.discount-footer-img {
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: -1;
}
.discount-footer-img img {
  width: 100%;
}

/*------------- portfolio----------- */
.portfolio {
  margin: 100px 140px;
  margin-top: 300px;
}
.portfolio h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.portfolio h2 {
  color: #070211;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 900;
}
.portfolio p {
  padding-right: 120px;
  margin-top: 10px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}
.protfolio-imgs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.protfolio-imgs img {
  width: 100%;
  height: 100%;
}

/* -----subscript-------- */
.subscript {
  margin: 100px 140px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 50px;
}
.subscript img {
  padding-top: 50px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
}
.subscript h2 {
  color: #070211;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 900;
}
.subscript p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  padding: 0px 80px;
  font-weight: 400;
}
.subscription-btn {
  border-radius: 50px;
  background: #fff;
}
.subscription-btn input {
  padding: 10px;
  border-radius: 20px;
  border: none;
}
.subscription-btn button {
  padding: 10px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  color: white;
}
/* ----------footer----------- */

.footer {
  padding: 100px 140px;
  background-color: #070211;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.footer p {
  align-items: center;
  display: flex;
  gap: 10px;
}
.social-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.social-logo img {
  width: 4%;
  height: 4%;
}
.footer-contact {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
