body {
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }

  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
}

/* main css start */
.header {
  margin: 50px 140px;
  position: relative;
  border-radius: 16px;
  opacity: 0.5;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.header img {
  height: 100%;
  width: 100%;
  opacity: 60%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-content h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}
.hero-content h1 {
  margin-top: 5px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}

/* holiday-deals */
.holiday-deals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 50px 140px;
}
.holiday-deals img {
  width: 600px;
  height: 500px;
}
.holiday-contant {
  text-align: center;
}
.holiday-contant h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0px;
}
.holiday-contant p {
  margin-top: 35px;
  margin-bottom: 0px;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.holiday-contant h3 {
  margin-top: 5px;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

/* ------------midnight-party-------- */
.midnight-section {
  position: relative;
  margin: 50px 140px;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.midnight-section img {
  height: 100%;
  width: 100%;
}
.midnight-party {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.midnight-party img {
  width: 240px;
  height: 350px;
}
.midnight-contant h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
}
.midnight-contant p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
}

.btn {
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
.midnight-img {
  margin-left: 30px;
}
